	nav1{
		visibility:visible;
		margin-left:110px;
		
		
	}
	nav1 ul ul {
		display: none;
	}
	nav1 ul li:hover > ul {
		display: block;
		z-index: 1000;
		width:150px;
	}
	nav1 ul {
		margin-bottom:5px;
		background: #ffffff; 
		list-style: none;
		position: relative;
		display: inline-table;
	}
	nav1 ul:after {
		content: "";
		clear: both;
		
	}
	nav1 ul li {
	float: left;
	padding-right:10px;
	width:auto;
}
	nav1 ul li:hover {
	}
	nav1 ul li:hover a {
		color:#CC470D;
		display:block;
		text-decoration:none;
	}
	
	nav1 ul li a {
		display: block; 
		font-size:12px;
		font-weight:bold;
		padding: 6px 2px;
		color: #2c2c2c; 
		text-decoration: none;
		border-right: 0px solid #CC470D;	
	}
	
	nav1 ul ul {
		background: #Cbcbcb; 
		border-radius: 0px; 
		padding: 0;
		position: absolute; 
		top: 100%;
		color:#2c2c2c;
	}
	nav1 ul ul li {
		float: none; 
		width:150px;
		border-top: 0px solid #e15a1f;
		border-bottom: 1px dashed #eeeeee;
		position: relative;
	}
	nav1 ul ul li a {
		background:cbcbcb;
		padding: 5px 4px;
		color: #2c2c2c;
		border-right: 0px solid #CC470D;
	}	
	nav1 ul ul li a:hover {
		background: ;
		color:orange;
	}
	nav1 ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
	}


	nav1 span:after{
		width: 0;
		height: 0;
		border: 0.313em solid transparent; /* 5 */
		border-bottom: none;
		border-top-color: #efa585;
		content: '';
		vertical-align: middle;
		display: inline-block;
		position: relative;
		right: -0.313em; /* 5 */
	}